@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}


.esquerdo-noticias{
    padding: 10px;   
}

.logo-prog img{
    margin: 0;
    padding: 0;
    border-radius: 0 0 66px 0 ;
}

.img-noticias img{
    width: 450px;
    height: 450px;
}

.direito-noticias{
    font-size: 25px;
    color: blueviolet;
    text-align: right;
}

h1{
    color: blueviolet;
    text-align: left;
}

.esquerdo-noticias span {
    position: absolute;
    width: 320px;
    height: 5px;
    margin-top: 10px;
    background-color: blueviolet;
}

.esquerdo-noticias p{
    margin-top: 30px;
}

.linha-recentes{
    position: absolute;
    height: 5px;
    left: 25%;
    right: 33%;
    background-color: blueviolet;
}

.text-prog h1{
    color: white;
}

@media  (max-width: 390) {
    .esquerdo-noticias{
        padding: 10px;
        width: 100vw;
    }
    .container-noticias{
        width: 100vw;
    }
    .img-noticias img{
        width: 250px;
        height: 250px;
        text-align: center;
    }
}