@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.title-programacao{
    color: white;
    padding: 10px 0;
    background-color: #0F5EFF;
    border-radius: 10px 10px 0 0 ;
}

.container-programacao{
    display: block;
    text-align: left;
    margin: 5px;
}

.container-card-programacao{
    margin: 5px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: blueviolet;
}

.text-prog{
    padding: 10px;
    color: white;
}

.container-programacao-maior{
    display: flex;
    width: 100%;
}

.text-prog p{
    text-align: justify;
    font-size: 12px;
}

.container-promo, img{
    padding: 5px;
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.logo-prog img{
    width: 150px;
}

.no-ar{
    width: 250px;
}

@media (max-width: 390px) {
    .container-programacao-maior{
        display: block;
        width: 100%;
    }
    .container-card-programacao{
     display: block;
    }
}


